// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html {
    font-size: 40%;
}
.pad5 {
    padding: 5px;
}

.toolbar-background{
    background-color: #0071bc;
}

.toolbar-title{
    color: #fff;
}

.bar-button{
    color: #fff;
}

.searchbar-md .searchbar-search-icon{
    left: 15px;
    top: 6px;
}

.searchbar-ios{
    background: none;
}

.searchbar-ios .searchbar-search-icon{
    top: 6px;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: black;
}

.split-pane-side {
    // border-bottom-right-radius: 10px;
    // border-top-right-radius: 10px;
    //border-right: 0px !important;
 }
 
 .menu-container {
    background-color: white;
 }
 
 .transparent {
    background: transparent;
 }
 
 .list-item {
    color: black;
 }
 :hover.list-item {
    background: color($colors, primary);
    color: white;
 }

 .list-item .list-item .activated {
	background: color($colors, primary);
    color: white;
}
 
 .scroll-content{
     overflow: hidden;
    // margin-right: -17px;
    // overflow-y: scroll;
 }

 .split-pane-main {
    // border-bottom-left-radius: 10px;
    // border-top-left-radius: 10px;
 }
 .tabs-md .tabbar {
    background: white;
}
// all tabs texts
.tabs-md .tab-button-text {
	color: black;
}
// selected tab
.tabs-md .tab-button[aria-selected=true] {
	background: color($colors, primary);
    color: white;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text{
    color: white;
}

.item-divider-md{
    font-weight: bold;
    color: color($colors, primary);
    padding: 0 !important;
    border-bottom: solid 1.5px color($colors, secondary);
}

 

 