page-sales-order {
    // .list-header{
    //     color: white;
    //     background-color: #0084FF;
    //     font-size: 1.2em;
    // }
    .footer{
        color: white;
        background-color: #0084FF;
        font-size: 1em;
        height: 40px;
    }
}
